.button {
  padding: 16px 59px 16px 21px;
  font-family: "Manrope", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.02em;
  outline: 1px solid $color-secondary;
  outline-offset: -1px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: $color-secondary;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $color-secondary;
    right: -13px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-size: 8px 8px;
    mask-position: center;
    background-color: $color-background;
    right: 1px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    padding: 21px 81px 21px 31px;
    font-size: 14px;

    &::after {
      width: 46px;
      height: 46px;
      right: -18px;
    }

    &::before {
      right: 8px;
    }
  }
}

.button:hover {
  outline: 1px solid $color-active;
  border: none;
  color: $color-active;
  background-color: $color-base-white;
}

.button:focus {
  color: $color-active;
  background-color: $color-base-white;
  outline: none;
}

.button:active {
  background-color: $color-active;
  color: $color-base-white;
}

.button:disabled {
  background-color: $color-disabled;
  color: $color-base-white;
}
