.contacts {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 100px 120px 95px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 580px 600px;
    gap: 20px;
  }
}

.contacts__wrapper {
  @include wrapper-size;

  padding: 20px 15px 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 40px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 580px;
    padding: 0;
  }
}

.contacts__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    gap: 25px;
    margin-bottom: 50px;
  }
}

.contacts__title {
  padding: 17px 0 16px;

  @media (min-width: $tablet-width) {
    padding: 20px 0 1px;
  }

  @media (min-width: $desktop-width) {
    padding: 19px 0 1px;
  }
}

.contacts__description p {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 480px;
  }

  @media (min-width: $desktop-width) {
    max-width: 500px;
  }
}

.contacts__description p:not(:last-child) {
  margin-bottom: 8px;
}

.contacts__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    gap: 35px;
    max-width: 500px;
  }
}

.contacts__item {
  padding-left: 32px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 34px;

    &::before {
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 55px;

    &::before {
      width: 26px;
      height: 26px;
      top: 12px;
    }
  }
}

.contacts__item--phone {
  &::before {
    background-image: url("/__spritemap#sprite-phone-view");
    background-size: 22px 22px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      background-size: 24px 24px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      background-size: 26px 26px;
    }
  }
}

.contacts__item--email {
  &::before {
    top: 3px;
    left: 1px;
    background-image: url("/__spritemap#sprite-mail-view");
    background-size: 21px 16px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 2px;
      background-size: 23px 17px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 16px;
      background-size: 25px 19px;
    }
  }
}

.contacts__item--addres {
  &::before {
    background-image: url("/__spritemap#sprite-pin-stroke-view");
    background-size: 22px 22px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      left: 1px;
      background-size: 24px 24px;
    }
  }


  @media (min-width: $desktop-width) {
    &::before {
      background-size: 26px 26px;
    }
  }
}

.contacts__name {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 5px;
    padding-left: 1px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.contacts__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 230px;

  @media (min-width: $tablet-width) {
    line-height: 22px;
    max-width: 256px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: max-content;
  }
}

.contacts__link {
  display: block;
  text-decoration: none;
  color: $color-base-black;
}

.contacts__image-wrapper {
  height: 343px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 324px;
    align-self: center;
  }
}

.contacts__pin-wrapper {
  position: absolute;
  content: "";
  width: 29px;
  height: 29px;
  top: 171px;
  left: calc(50% + 43px);
  z-index: 3;

  @media (min-width: $tablet-width) {
    width: 42px;
    height: 42px;
    top: 183px;
    left: calc(50% + 2px);
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
    top: 163px;
    left: 363px;
  }
}

.contacts__image-wrapper img {
  display: block;
}

.contacts__pin-wrapper svg {
  @media (min-width: $tablet-width) {
    width: 41px;
    height: 41px;
  }

  @media (min-width: $desktop-width) {
    width: 43px;
    height: 43px;
  }
}

.contacts__link:hover {
  color: $color-secondary;
  opacity: 0.1;
}

.contacts__link:focus {
  outline: none;
  color: $color-secondary;
}

.contacts__link:active {
  color: $color-active;
}

.contacts__link[disabled] {
  color: $color-disabled;
  pointer-events: none;
}
