.form {
  background-color: $color-base-white;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.form__wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-base-white;
  background-image:
    image-set(
      url("../../img/form/form-tablet@1x.webp") 1x type("image/webp"),
      url("../../img/form/form-tablet@2x.webp") 2x type("image/webp"),
      url("../../img/form/form-tablet@1x.png") 1x type("image/png"),
      url("../../img/form/form-tablet@2x.png") 2x type("image/png"),
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    width: 652px;
    border-radius: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    background-image:
      image-set(
        url("../../img/form/form-desktop@1x.webp") 1x type("image/webp"),
        url("../../img/form/form-desktop@2x.webp") 2x type("image/webp"),
        url("../../img/form/form-desktop@1x.png") 1x type("image/png"),
        url("../../img/form/form-desktop@2x.png") 2x type("image/png"),
      );
  }
}

.form__container {
  margin: 43px auto 40px;
  width: 300px;
  padding: 15px 15px 27px 15px;
  background-color: $color-secondary;
  color: $color-base-white;
  border-radius: 16px;

  @media (min-width: $tablet-width) {
    width: 442px;
    padding: 30px 40px 36px 40px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 490px;
    padding: 30px 70px 39px 70px;
  }
}

.form__title {
  font-size: 18px;
  line-height: 22px;
  color: $color-background;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 11px 0;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0;
    font-size: 32px;
    line-height: 36px;
  }
}

.form__description {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}

.form__label {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.8;
  color: $color-base-white;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }
}

.form__field {
  padding: 15px 25px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: $color-background;
  background-color: transparent;
}

.form__text {
  padding: 10px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: $color-background;
  background-color: transparent;

  scrollbar-width: thin; /* Firefox */
  scrollbar-color: $color-background transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-background;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-base-white;
  }

  @media (min-width: $tablet-width) {
    padding: 7px 25px;
  }
}

.form__content .ss-main {
  padding: 18px 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: transparent;
  appearance: none;
  width: 260px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-arrow-down-view");
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__option {
  padding: 17px 20px;
  font-size: 14px;
  line-height: 100%;
  cursor: pointer;
}

.form__option.ss-selected {
  color: $color-base-white;
  padding: 15px 20px;
}

.form__content .ss-open-above,
.form__content .ss-open-below {
  border-radius: 8px;
  overflow: hidden;
}

.form__select-open.ss-content {
  border-radius: 8px;
  overflow: hidden;
  transform: translateY(5px) scaleY(1);
  transform-origin: top center;
}

.form__content .ss-values {
  min-height: 14px;
}

.form__content .ss-single {
  font-size: 14px;
  line-height: 100%;
  color: $color-base-white;
}

.form__content .ss-open-below::after,
.form__content .ss-open-above::after {
  transform: translateY(-50%) rotate(180deg);
}

.form__option:hover {
  color: $color-secondary;
}

.form__option:focus,
.form__option:active,
.form__option.ss-highlighted {
  color: $color-base-white;
  background-color: $color-active;
}

.form__content .ss-main:hover {
  border: 1px solid $color-background;
}


.form__content .ss-main:focus,
.form__content .ss-main:active {
  box-shadow: none;
  border: 1px solid $color-background;
}

.form__content--agreement {
  display: grid;
  grid-template-columns: 20px 240px;
  grid-auto-rows: auto;
  align-items: center;
  gap: 10px;
}

.form__content--agreement .form__label {
  cursor: pointer;
  user-select: none;
  opacity: 1;
  width: 240px;
  grid-column: 2/3;

  @media (min-width: $tablet-width) {
    width: 332px;
    font-size: 12px;
    line-height: 100%;

    br {
      display: none;
    }
  }
}

.form__control {
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  outline: 1px solid $color-secondary;
  border-radius: 2px;
  background-color: $color-background;
  position: relative;
  cursor: pointer;
  grid-column: 1/2;
  grid-row: 1/1;
}

.form__control:checked {
  background-color: $color-background;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 4px;
    width: 12px;
    height: 18px;
    mask-image: url("/__spritemap#sprite-check-view");
    mask-repeat: no-repeat;
    mask-size: 24px 18px;
    mask-position: center;
    background-color: $color-secondary;
  }
}

.form__control:hover,
.form__control:focus {
  outline: 1px solid $color-background;
  background-color: $color-secondary;
}

.form__control:disabled {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 1px solid $color-background;
}

.form__control:checked:hover,
.form__control:checked:focus {
  background-color: $color-secondary;
  outline: 1px solid $color-background;

  &::before {
    background-color: $color-background;
  }
}

.form__control:checked:disabled {
  background-color: $color-disabled;
  outline: none;

  &::before {
    background-color: $color-background;
  }
}

.form__button {
  width: 260px;
  outline: 1px solid $color-background;
  color: $color-background;

  &::after {
    background-color: $color-background;
  }

  &::before {
    background-color: $color-secondary;
  }

  @media (min-width: $tablet-width) {
    width: 352px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {

  }
}

.form__button:hover {
  outline: none;
  color: $color-secondary;
  background-color: $color-background;

  &::after {
    background-color: $color-secondary;
  }

  &::before {
    background-color: $color-background;
  }
}

.form__button:focus {
  outline: 1px solid $color-background;
  color: $color-background;

  &::after {
    background-color: $color-background;
  }

  &::before {
    background-color: $color-secondary;
  }
}

.form__button:active {
  outline: none;
  color: rgba(49, 109, 194, 0.7);
  background-color: $color-background;

  &::after {
    background-color: $color-secondary;
  }

  &::before {
    background-color: $color-background;
    opacity: 0.7;
  }
}

.form__field.form__error,
.form__text.form__error,
.form__content .ss-main.form__error,
.form__control.form__error,
.form__field.form__error:focus {
  border: 1px solid $color-error;
  outline: none;
  background-color: rgba(255, 94, 102, 0.2);
}

.form__field:hover,
.form__text:hover,
.form__field:active,
.form__text:active  {
  border: 1px solid $color-background;
}

.form__field:focus,
.form__text:focus {
  border: 1px solid $color-background;
  outline: none;
  background-color: transparent;
}

.form__field:disabled {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}


//form--modal
.form--modal .form__title {
  line-height: 18px;
  color: $color-secondary;
  text-align: center;
  margin-bottom: 15px;
}

.form--modal .form__description {
  text-align: center;
  margin-bottom: 25px;
  width: 220px;
  justify-self: center;
}

.form--modal .form__group {
  gap: 15px;
}

.form--modal .form__content {
  gap: 8px;
}

.form--modal .form__label {
  font-size: 14px;
  color: $color-base-black;
  opacity: 0.8;
}

.form--modal .form__field {
  border: 1px solid rgba(72, 72, 72, 0.3);
  padding: 12px 25px;
  color: $color-base-black;
}

.form--modal .form__content--agreement .form__label {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.9;

  br {
    display: none;
  }
}

.form--modal .form__content--agreement {
  grid-template-columns: 20px 230px;
  gap: 10px;
}

.form--modal .form__control {
  background-color: $color-secondary;
}

.form--modal .form__button {
  outline: 1px solid $color-secondary;
  width: 100%;
  color: $color-secondary;

  &::after {
    background-color: $color-secondary;
  }

  &::before {
    background-color: $color-background;
  }
}
