.form {
  background-color: $color-base-white;
}

.form__wrapper {
  margin: 40px 0;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-base-white;
  background-image:
    image-set(
      url("../../img/form/form-tablet@1x.webp") 1x type("image/webp"),
      url("../../img/form/form-tablet@2x.webp") 2x type("image/webp"),
      url("../../img/form/form-tablet@1x.png") 1x type("image/png"),
      url("../../img/form/form-tablet@2x.png") 2x type("image/png"),
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../img/form/form-desktop@1x.webp") 1x type("image/webp"),
        url("../../img/form/form-desktop@2x.webp") 2x type("image/webp"),
        url("../../img/form/form-desktop@1x.png") 1x type("image/png"),
        url("../../img/form/form-desktop@2x.png") 2x type("image/png"),
      );
  }
}

.form__container {
  margin: 43px auto 40px;
  width: 300px;
  padding: 15px 15px 27px 15px;
  background-color: $color-secondary;
  color: $color-base-white;
  border-radius: 16px;

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {
  }
}

.form__title {
  color: $color-background;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 11px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px;
  }
}

.form__description {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {

  }
}

.form__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__label {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.8;
  color: $color-base-white;

  @media (min-width: $tablet-width) {

  }
}

.form__field {
  padding: 15px 25px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: $color-background;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding: 19px 30px 18px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
  }
}

.form__text {
  padding: 15px 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  color: $color-background;
  background-color: transparent;
}

.form__select {
  padding: 15px 25px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: transparent;
  appearance: none;
  /*background-image: url("/__spritemap#sprite-arrow-down-view");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 16px 16px;*/
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    width: 16px;
    height: 16px;
    background-image: url("/__spritemap#sprite-arrow-down-view");
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    pointer-events: none;
  }
}


.form__option {
  padding: 17px 20px;
  font-size: 14px;
  line-height: 100%;
  cursor: pointer;
}

.form__option.ss-selected {
  color: $color-base-white;
  padding: 15px 20px;
}

.form__select.ss-open-above,
.form__select.ss-open-below {
  border-radius: 8px;
  overflow: hidden;
}

.form__select-open.ss-content {
  border-radius: 8px;
  overflow: hidden;
  transform: translateY(5px) scaleY(1);
  transform-origin: top center;
}

.form__select .ss-values {
  min-height: 14px;
}

.form__select .ss-single {
  font-size: 14px;
  line-height: 100%;
  color: $color-base-white;
}

.form__select.ss-open-below::after,
.form__select.ss-open-above::after {
  transform: translateY(-50%) rotate(180deg);
}

.form__option:hover {
  color: $color-secondary;
}

.form__option:focus,
.form__option:active,
.form__option.ss-highlighted {
  color: $color-base-white;
  background-color: $color-active;
}

/*
.form__field:hover {
  outline: 1px solid $color-secondary;
}

.form__field:focus {
  outline: 1px solid $color-base-black;
}

.form__field-error,
.form__field-error:hover,
.form__field-error:focus {
  outline: 1px solid #ff121f;
}

.form__field:focus::placeholder {
  color: $color-disabled;
}

.form__field:disabled {
  outline: 1px solid $color-disabled;
}

.form__button {
  color: $color-base-white;
  border: none;
  padding-top: 22px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}
*/
