.grant {
  background-color: $color-secondary;
}

.grant__wrapper {
  @include wrapper-size;

  padding: 70px 15px;
  color: $color-background;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 100px 45px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 120px 206px 120px 100px;
    display: grid;
    grid-template-columns: repeat(2, 498px);
    grid-template-rows: 158px auto;
    gap: 138px;
    row-gap: 40px;
  }
}

.grant__title {
  color: $color-background;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.grant__container p {
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 498px;
  }
}

.grant__container p:not(:last-child) {
  margin-bottom: 8px;
}

.grant__image-wrapper {
  border-radius: 17px;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.grant__image-wrapper img {
  display: block;
  border-radius: 17px;
}

.grant__list-container {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}

.grant__list-title {
  font-size: 18px;
  line-height: 22px;
  color: $color-background;
  margin-bottom: 15px;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 373px;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.grant__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 5px;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    row-gap: 25px;
    padding-top: 15px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    gap: 23px;
  }
}

.grant__item {
  padding: 24px 26px 24px 25px;
  border: 1px solid $color-base-white;
  border-radius: 16px;
  color: $color-base-white;
  position: relative;
  counter-increment: number 1;

  &::before {
    position: absolute;
    content: counter(number);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: $color-background;
    width: 32px;
    height: 32px;
    background-color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -16px;
    top: -6px;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 24px;
    width: 305px;

    &::before {
      font-size: 22px;
      width: 42px;
      height: 42px;
      left: -21px;
      top: -16px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 30px 25px;
    width: 478px;
  }
}
