.header {
  @include wrapper-size;

  position: relative;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 100px;
  }
}

.header__container {
  position: absolute;
  width: 290px;
  padding-top: 21px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 678px;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
  }
}

.header__logo-wrapper {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: $color-background;
  position: relative;
  z-index: 10;
}

.header__logo-wrapper img {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__toggle {
  padding: 19px 71px 20px 21px;
  max-width: 210px;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.28px;
  background-color: $color-background;
  align-self: flex-end;
  transition: padding 0.3s ease, color 0.3s ease;

  &::after {
    width: 46px;
    height: 46px;
    right: -18px;
  }

  &::before {
    width: 22px;
    height: 22px;
    mask-image: url("/__spritemap#sprite-menu-view");
    mask-repeat: no-repeat;
    mask-size: 24px 16px;
    mask-position: center;
    background-color: $color-background;
    right: 6px;
  }
}

.header__toggle--open {
  text-align: start;
  background-color: $color-secondary;
  color: $color-background;
  align-self: auto;
  max-width: 290px;

  &::after {
    background-color: $color-background;
  }

  &::before {
    mask-image: url("/__spritemap#sprite-cross-view");
    transform: translate(-50%, -50%) rotate(0deg);
    mask-size: cover;
    background-color: $color-secondary;
  }
}

.header__toggle:hover,
.header__toggle:active {
  &::before {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.header__toggle:focus {
  border: none;
  color: $color-background;
  background-color: $color-secondary;

  &::after {
    background-color: $color-background;
  }

  &::before {
    background-color: $color-secondary;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.header__toggle--open:hover {
  background-color: $color-background;
  color: $color-secondary;

  &::after {
    background-color: $color-secondary;
  }

  &::before {
    background-color: $color-background;
  }
}

.header__toggle--open:active {
  opacity: 0.7;

  &::before {
    opacity: 0.7;
  }
}

.header__logo-wrapper--hidden {
  width: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, width 0.3s ease, opacity 0.3s ease;

  @media (min-width: $tablet-width) {
    visibility: visible;
    width: 52px;
    opacity: 1;
  }
}

.header__nav {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  z-index: 50;
}

.header__nav-list,
.header__nav-sublist {
  @include list-reset;

  visibility: hidden;
  width: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0;
  line-height: 0;
  opacity: 0;
  transition: width, line-height, opacity, visibility, row-gap, padding 0.3s ease;
}

.header__nav-list {
  @include list-reset;

  padding-inline: 25px 125px;
  border-radius: 16px;
  background-color: $color-secondary;
}

.header__nav-list--open {
  visibility: visible;
  padding: 35px 25px;
  width: 290px;
  line-height: 1;
  row-gap: 28px;
  opacity: 1;
  transition: width, line-height, opacity, visibility, row-gap, padding 0.3s ease;
}

.header__nav-link {
  font-weight: 400;
  color: $color-background;
  opacity: 0.6;
  text-decoration: none;
}

.header__nav-title {
  padding: 0;
  width: fit-content;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $color-background;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: relative;
}

.header__nav-item {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  transition: row-gap 0.3s ease;
}

.header__nav-item--dropdown .header__nav-title::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  right: -22px;
  top: 2px;
  background: url("/__spritemap#sprite-arrow-down-view") no-repeat center;
  transition: transform 0.3s ease;
}

.header__nav-item--open .header__nav-title::after {
  transform: scaleY(-1);
}

.header__nav-item--open {
  row-gap: 20px;
}

.header__nav-item--open .header__nav-title {
  opacity: 1;
}

.header__nav-sublist {
  padding-left: 16px;
}

.header__nav-item--open .header__nav-sublist {
  visibility: visible;
  width: unset;
  line-height: 1;
  row-gap: 16px;
  opacity: 1;
  transition: width, line-height, opacity, visibility, row-gap, padding 0.3s ease;
}

.header__nav-title:hover,
.header__nav-title:focus,
.header__nav-title:active,
.header__nav-link:hover,
.header__nav-link:focus,
.header__nav-link:active {
  opacity: 1;
  outline: none;
}

.header__nav-title:disabled,
.header__nav-title[disabled] {
  color: $color-disabled;
  opacity: 0.7;
  pointer-events: none;
}
