.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: rgba(49, 109, 194, 0.4);
  z-index: 30;
  transition: opacity 0.3s ease;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 100px;
  }
}

.modal--close {
  display: none;
}

.modal__wrapper {
  position: relative;
  margin: 0 auto;
  width: 290px;
  padding: 22px 15px 40px;
  border-radius: 16px;
  background-color: $color-background;
  z-index: 50;

  @media (min-width: $tablet-width) {
    padding: 32px 80px 60px;
    width: 510px;
  }
}

.modal__form {
  padding: 0;
  background-color: $color-background;
}

.modal__button {
  display: block;
  padding: 12px;
  margin-left: auto;
  margin-right: 7px;
  outline: 1px solid $color-secondary;
  border: none;
  cursor: pointer;
  mask-image: url("/__spritemap#sprite-cross-view");
  mask-repeat: no-repeat;
  mask-size: 12px 12px;
  mask-position: center;
  background-color: $color-secondary;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    padding: 18px;
    margin-bottom: 8px;
    mask-size: 18px 18px;
  }
}

.modal__button:hover,
.modal__button:focus {
  opacity: 0.5;
}

.modal__button:active {
  background-color: $color-active;
}

.modal__button:disabled {
  background-color: $color-disabled;
  cursor: default;
}
