.programs__wrapper {
  @include wrapper-size;

  padding: 20px 15px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 40px 45px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 100px 120px 77px;
  }
}
