.programs {
  @media (min-width: $tablet-width) {
    overflow: hidden;
  }
}

.programs__wrapper {
  @include wrapper-size;

  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 50px 45px;
    gap: 40px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 60px 100px;
  }
}

.programs__container {
  position: relative;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 62px;
  }
}

.programs__title {
  padding: 6px 60px 4px 0;

  @media (min-width: $tablet-width) {
    padding: 3px 55px 3px 0;
    max-width: 445px;
  }

  @media (min-width: $desktop-width) {
    right: 100px;
    max-width: 850px;
    padding: 6px 55px 4px 0;
  }
}

.programs__button-all {
  order: 3;
  width: 205px;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 234px;
    position: absolute;
    right: 45px;
  }

  @media (min-width: $desktop-width) {
    right: 100px;
    margin-top: 2px;
  }
}

.programs__button-all[disabled] {
  color: $color-disabled;
  pointer-events: none;
  outline: 1px solid $color-disabled;

  &::after {
    background-color: $color-disabled;
  }
}

.programs__swiper {
  @media (min-width: $tablet-width) {
    overflow: visible;
  }

  @media (min-width: $desktop-width) {
    overflow: hidden;
  }
}

.programs__content.swiper-slide {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  background-color: $color-base-white;
}

.programs__buttons {
  position: absolute;
  display: flex;
  gap: 8px;
  height: 22px;
  top: -56px;
  right: 0;

  @media (min-width: $tablet-width) {
    top: auto;
    right: 2px;
    bottom: -64px;
  }
}

.programs__button {
  position: relative;
  padding: 0;
  width: 22px;
  height: 22px;
  outline: none;

  &::after {
    width: 22px;
    height: 22px;
    right: -10px;
    background-color: transparent;
  }

  &::before {
    transform: rotate(45deg);
    top: 0;
    background-color: $color-secondary;
  }

  @media (min-width: $tablet-width) {
    &::before {
      right: 0;
    }
  }
}

.programs__button:hover {
  opacity: 0.7;
  background-color: transparent;

  &::after {
    background-color: transparent;
  }

  &::before {
    transform: rotate(45deg);
  }
}

.programs__button:focus {
  background-color: $color-background;

  &::before {
    transform: rotate(45deg);
  }
}

.programs__button:active {
  background-color: $color-background;

  &::before {
    transform: rotate(45deg);
  }
}

.programs__button:disabled {
  outline: none;

  &::after {
    background-color: transparent;
  }

  &::before {
    background-color: $color-disabled;
  }
}

.programs__button-next:disabled {
  &::before {
    transform: rotate(45deg);
  }
}

.programs__button-prev,
.programs__button-prev:disabled,
.programs__button-prev:active,
.programs__button-prev:focus,
.programs__button-prev:hover {
  &::before {
    transform: rotate(-135deg);
  }
}

.programs__image-wrapper {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  border-radius: 12px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-overlay-photo;
    border-radius: 12px;
    z-index: 1;
  }
}

.programs__image-wrapper img {
  display: block;
}

.programs__description {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  padding: 172px 10px 18px;
  display: grid;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    padding: 200px 20px 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 280px 51px 17px 20px;
  }
}

.promo__container-nebo {
  --nb-r: 12px;

  @media (min-width: $tablet-width) {
    --nb-r: 14px;
  }
}

.programs__container-nebo--title {
  min-height: 42px;
  background-color: $color-background;
  border-radius: 12px 0 0;

  --nb-w: 86px;
  --nb-h: 5px;
  --nb-r: 18px;

  @media (min-width: $tablet-width) {
    min-height: 38px;

    --nb-w: 78px;
    --nb-r: 16px;
  }

  @media (min-width: $desktop-width) {
    min-height: 42px;

    --nb-w: 103px;
    --nb-r: 12px;
    --nb-h: 17px;
  }
}

.programs__name {
  font-size: 16px;
  line-height: 18px;
  padding: 18px 18px 14px;
  max-width: 146px;
  word-break: break-all;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 14px;
    max-width: 185px;
    padding: 18px 18px 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 17px;
    max-width: 210px;
    padding: 18px 12px 15px 18px;
  }
}

.programs__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 42px;

  @media (min-width: $tablet-width) {
    min-height: 60px;
  }

  @media (min-width: $desktop-width) {
    min-height: 54px;
  }
}

.programs__container-nebo--text {
  display: flex;
  gap: 16px;
  background-color: $color-background;
  margin-top: -9px;
  border-radius: 0 12px 12px;
  padding: 12px 18px 15px;

  --nb-w: 1px;
  --nb-h: 1px;
  --nb-r: 11px;
}

.programs__container-nebo--text p {
  margin: 0;
  max-width: 188px;
  font-size: 12px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    max-width: 202px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
    max-width: 239px;
  }
}

.programs__button-more {
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  outline: none;
  align-self: center;

  &::after {
    width: 30px;
    height: 30px;
    right: -15px;
  }

  &::before {
    right: -5px;
  }
}

.programs__button-more:hover {
  outline: none;
  background-color: $color-secondary;

  &::after {
    background-color: $color-secondary;
  }

  &::before {
    background-color: $color-background;
  }
}

.programs__button-more:active {
  outline: none;
  background-color: $color-secondary;

  &::after {
    background-color: $color-secondary;
  }

  &::before {
    background-color: $color-background;
  }
}

.programs__button-more[disabled] {
  color: $color-disabled;
  pointer-events: none;
  outline: 1px solid $color-disabled;

  &::after {
    background-color: $color-disabled;
  }
}

.programs__scrollbar {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -52px;
    left: 0;
    right: 115px;
    height: 2px;
    z-index: 5;
    background-color: rgba(49, 109, 194, 0.2);
  }
}

.programs__scrollbar .swiper-scrollbar-drag {
  @media (min-width: $tablet-width) {
    position: absolute;
    background-color: $color-secondary;
    z-index: 10;
    height: 2px;
    left: 0;
    right: 0;
  }
}

.programs__scrollbar:hover,
.programs__scrollbar:focus {
  opacity: 0.7;
}
