.promo__content.swiper-slide {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
}


.promo__image-wrapper {
  grid-column: 1;
  grid-row: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-overlay-photo;
    z-index: 1;
  }
}

.promo__image-wrapper img {
  display: block;
}

.promo__wrapper {
  @include wrapper-size;

  padding: 201px 15px 20px;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 420px 64px 60px 45px;
    align-self: end;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 200px 372px 60px 100px;
  }
}

.promo__container-nebo {
  --nb-r: 13px;

  @media (min-width: $tablet-width) {
    --nb-r: 14px;
  }
}

.promo__container-nebo--pagination {
  min-height: 40px;
  background-color: $color-background;
  border-radius: 12px 0 0;

  --nb-w: 184px;
  --nb-h: 2px;

  @media (min-width: $tablet-width) {
    border-radius: 18px 0 0;
    padding-top: 10px;

    --nb-w: 519px;
    --nb-h: 2px;
    --nb-r: 20px;
  }

  @media (min-width: $desktop-width) {
    --nb-w: 829px;
    --nb-h: 2px;
  }
}

.promo__container-nebo--title {
  background-color: $color-background;
  margin-bottom: -20px;

  --nb-w: 1px;
  --nb-h: 1px;
  --nb-r: 11px;

  @media (min-width: $tablet-width) {
    --nb-w: 15px;
    --nb-h: -26px;
    --nb-r: 26px;
  }

  @media (min-width: $desktop-width) {
    --nb-w: 141px;
    --nb-h: -27px;
  }
}

.promo__title {
  font-size: 22px;
  line-height: 26px;
  padding: 11px 15px 36px 14px;
  margin-top: -3px;

  @media (min-width: $tablet-width) {
    margin-top: -4px;
    margin-bottom: -39px;
    font-size: 36px;
    line-height: 44px;
    padding: 13px 69px 48px 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 62px;
    padding: 25px 50px 53px;
  }
}

.promo__container-nebo--text {
  width: 267px;
  background-color: $color-background;
  padding: 0 15px 10px 14px;
  border-radius: 0 0 12px 14px;
  display: flex;
  flex-direction: column;

  --nb-w: 57px;
  --nb-h: 38px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 15px 40px 35px;
    border-radius: 0 0 26px 26px;
    width: 594px;
    gap: 30px;

    --nb-w: -57px;
    --nb-h: -38px;
  }

  @media (min-width: $desktop-width) {
    width: 775px;
    padding: 15px 50px 35px;
  }
}

.promo__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.promo__text-wrapper p {
  margin: 0;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    max-width: 285px;
  }

  @media (min-width: $desktop-width) {
    max-width: 446px;
  }
}

.promo__button {
  display: block;
  width: 154px;
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 198px;
    height: 56px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
  }
}

.promo__button[disabled] {
  color: $color-disabled;
  pointer-events: none;
  outline: 1px solid $color-disabled;

  &::after {
    background-color: $color-disabled;
  }
}

.promo__pagination {
  position: relative;
  z-index: 10;
}

.promo__pagination-horizontal {
  z-index: 10;
  padding: 5px 210px 17px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 6px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 15px 570px 36px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 875px 36px 20px;
  }
}

.promo__pagination-bullet {
  padding: 0;
  width: 8px;
  height: 8px;
  background: transparent;
  border: 2px solid $color-secondary;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 12px;
    height: 12px;
  }
}

.promo__pagination-bullet:hover,
.promo__pagination-bullet--active:hover  {
  background-color: rgba(49, 109, 194, 0.7);
  border: 2px solid $color-background;
}

.promo__pagination-bullet--active {
  background-color: $color-active;
  border: 2px solid $color-active;
}

.promo__pagination-bullet:focus {
  background-color: $color-secondary;
}

.promo__pagination-bullet:active {
  background-color: $color-active;
  border: 2px solid $color-active;
}

.promo__pagination-bullet:disabled {
  background-color: $color-disabled;
  border: 2px solid $color-disabled;
}
