.reviews__wrapper {
  @include wrapper-size;

  overflow: hidden;
  padding: 50px 15px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 50px 45px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 60px 100px;
  }
}

.reviews__title {
  padding: 6px 70px 4px 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0;
  }
}

.reviews__buttons {
  position: absolute;
  display: flex;
  gap: 8px;
  height: 22px;
  top: -56px;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 461px;
    right: 2px;
  }

  @media (min-width: $desktop-width) {
  }
}

.reviews__button {
  position: relative;
  padding: 0;
  width: 22px;
  height: 22px;
  outline: none;

  &::after {
    width: 22px;
    height: 22px;
    right: -10px;
    background-color: transparent;
  }

  &::before {
    transform: rotate(45deg);
    top: 0;
    background-color: $color-secondary;
  }

  @media (min-width: $tablet-width) {
    &::before {
      right: 0;
    }
  }
}

.reviews__button:hover {
  opacity: 0.7;
  background-color: transparent;

  &::after {
    background-color: transparent;
  }

  &::before {
    transform: rotate(45deg);
  }
}

.reviews__button:focus {
  background-color: $color-background;

  &::before {
    transform: rotate(45deg);
  }
}

.reviews__button:active {
  background-color: $color-background;

  &::before {
    transform: rotate(45deg);
  }
}

.reviews__button:disabled {
  outline: none;

  &::after {
    background-color: transparent;
  }

  &::before {
    background-color: $color-disabled;
  }
}

.reviews__button-next:disabled {
  &::before {
    transform: rotate(45deg);
  }
}

.reviews__button-prev,
.reviews__button-prev:disabled,
.reviews__button-prev:active,
.reviews__button-prev:focus,
.reviews__button-prev:hover {
  &::before {
    transform: rotate(-135deg);
  }
}

.reviews__container {
  position: relative;
}


/*.reviews__swiper {
  @media (min-width: $tablet-width) {
    width: 743px;
    margin: -20px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    margin: 0;
  }
}*/

.reviews__slider .swiper-slide {
  border: 2px solid $color-secondary;
  border-radius: 16px;
  padding: 30px 15px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 20px 30px 20px 20px;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 565px;
  }

  @media (min-width: $desktop-width) {
    box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
    padding-right: 40px;
    width: 700px;
    align-items: flex-start;
  }
}

.reviews__image-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $color-disabled;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 0;
  }
}

.reviews__image-wrapper img {
  display: block;
  object-fit: contain;
  //object-position: -2px 9px;
  //transform: scale(1.6);
  text-indent: -100vw;
}

.reviews__container-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

.reviews__container-person {
  display: flex;
  gap: 10px;
  align-items: center;
}

.reviews__name p {
  margin: 0;
  line-height: 18px;
  color: $color-secondary;
}

.reviews__list {
  @include list-reset;
  display: flex;
  gap: 25px;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviews__item-name {
  margin: 0;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.12%;
  text-transform: uppercase;
  color: $color-secondary;
}

.reviews__item-text {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.9;
}

.reviews__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  color: $color-secondary;
}

.reviews__content p {
  margin: 0;
}

.reviews__content p:not(:last-child) {
  margin-bottom: 8px;
}


/*
.reviews__slider {
  @media (min-width: $tablet-width) {
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px;
  }
}

.reviews__content {
  @media (min-width: $tablet-width) {
    width: 299px;
  }

  @media (min-width: $desktop-width) {
    width: 352px;
  }
}

.reviews__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 2px;
  }
}

.reviews__description p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 22px;
  }
}

.reviews__name {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;

  @media (min-width: $tablet-width) {
    font-size: 13px;
  }
}

.reviews__age {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
}


}
*/
