// colors
$color-base-black: #484848;
$color-base-white: #f0efe9;
$color-secondary: #316dc2;
$color-background: #ffffff;
$color-overlay-light: #0f1429;

// color states
$color-active: #275699;
$color-disabled: #a9afb7;
$color-error: #ff5e66;

// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
